<% include partials/header %>
    <div class="row">
        <div class="container">
            <div class="topPart">
                <ul class="buttonList">
                    <li class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Lost Items</li>
                    <li class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Found Items</li>
                </ul>
                <div class="searchbar">
                    <!-- <div id="icon"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                    <input type="text"> -->
                    <form class="form-inline">
                        <div class="form-group">
                          <input type="text" class="form-control" id="" placeholder="Search">
                          <button type="submit" class="btn btn-default">Search</button>
                        </div>                        
                      </form>
                </div>
            </div>

        <div class="table-item-lost">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Details</th>
                        <th>Specifications</th>
                        <th>Action</th>
                        <th>Image</th>
                        <th>Further</th>
                    </tr>
                </thead>
                    <tbody>
                            <% lostItems.forEach(function(item){ %>
                            
                                <tr>
                                    <td><%=item.item%></td>
                                    <td><%=item.details%></td>
                                    <td><%=item.specifications%></td>
                                    <td><form action="/items/<%= item._id %>?_method=DELETE" id="delete" method="POST">
                                        <button>I've found it</button>
                                        </form>
                                    </td>
                                    
                                    <td><a target="_blank" href="someimage.jpg"><i class="fas fa-camera"></i></a></td>
                                    <td><a class="btn btn-xs btn-success" href="/items/<%=item._id%>">More Details</a></td>

                                </tr>

                            <% }); %>
                            
                      </tbody>
            </table>
        </div>
        <div class="table-item-found">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Details</th>
                        <th>Specifications</th>
                        <th>Action</th>
                        <th>Image</th>
                        <th>Further</th>
                    </tr>
                </thead>
                    <tbody>
                            <% foundItems.forEach(function(item){ %>
                                    <tr>
                                        <td><%=item.item%></td>
                                        <td><%=item.details%></td>
                                        <td><%=item.specifications%></td>
                                        <!-- <td><button></button></td> -->
                                        <td>
                                        <form action="/items/<%= item._id %>?_method=DELETE" id="delete" method="POST">
                                            <button>It's Mine</button>
                                            </form>
                                        </td>
                                        <td><a target="_blank" href="someimage.jpg" id="proceed"><i class="fas fa-camera"></i></a></td>
                                        <!-- <td><form action="/items/<%=item._id%>" method="GET">
                                            <button>Take me</button>
                                            </form>
                                        </td> -->
                                        <td><a class="btn btn-xs btn-success" href="/items/<%=item._id%>">More Details</a></td>
                                    </tr>
                                
                            <% }); %>

                            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">
                                        Are you sure it is yours? Your email id will be saved & sent to the owner and item will be removed from the database in a few hours.
                                    </div>
                                </div>
                            </div>
                            
                        </tbody>
            </table>
        </div>
                
            
        </div>
        </div>
     <!-- Copyright -->
        
    <footer class="page-footer font-small dark footer">
      <div class="footer-copyright text-center py-3">© Created By:
        <a href="https://github.com/ashishgupta1350"> Ashish Gupta</a>
      </div>
    </footer>
      <!-- Copyright -->

      <%
    function itsMineClicked()
        {
        var proceed = document.forms[0].querySelector("#proceed");
        
        
        
        return '';
    }
%>

    <% include partials/footer %>


